/* 若有要@import字型之類的內容，要寫在"@import "tailwindcss";"之前 */
/* @import url("https://..."); */

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));  /* 要啟用Tailwind v4 dark樣式的class模式需增加這一行，否則會是media模式（依瀏覽器決定是否啟用dark樣式） */

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";


@layer base {
  body {
    @apply bg-[#ffffafa] p-0 m-0;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@layer components {
  .testapply {
    @apply mt-5 text-5xl text-indigo-700 bg-amber-600;
  }
}

@layer utilities {
  .prose-custom {
    @apply max-w-full;
  }

  .prose-custom pre {
    @apply bg-[#1e1e1e] mt-2;
  }

  /* 非code呈現區域不會有 */
  .prose-custom code:not(pre code) {
    @apply bg-[#f4f4f4] text-[#c7254e] px-1 py-0.5 whitespace-nowrap rounded-md border border-[#e1e1e1] text-[0.85em] font-mono font-normal;
    font-family: "Monaspace Neon", ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  }

  /* 移除 .prose 預設的 `` 前後引號 */
  .prose-custom code:not(pre code)::after,
  .prose-custom code:not(pre code)::before {
    content: "";
  }

  /* code呈現的地方不會超出頁面寬度 */
  .prose-custom pre code {
    @apply whitespace-pre-wrap;
  }
}
